# Configurações do Banco de Dados
DB_FILE_NAME=file:local.db

# Segurança e Sessão
NUXT_SESSION_SECRET="meu-concreto-dev-only-secret-change-in-production!!"
HWID_SALT="salt-secreto-para-hash-do-device-id"

# Autenticação de Tarefas Automáticas (WhatsApp)
CRON_SECRET="token-secreto-para-agendamentos"